
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #222;
    padding: 15px 0;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    text-align: center;
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}


.content {
    margin-top: 100px;
    padding: 20px;
    font-family: sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 
    margin-top: 30px;
    scroll-margin-top: 110px; 
}

.day-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-top: 5px solid #333; 
    border-radius: 8px;
    padding: 20px;
    width: 250px; 
    box-shadow: 4px 4px 10px rgba(0,0,0,0.05);
    text-align: center;
}

.day-card strong {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #222;
}

.spacer {
    height: 1000px;
}