
.navbar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 15px 0;
    z-index: 1000; 
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}


.content {
    margin-top: 80px; 
    padding: 20px;
}

.schedule-container {
    scroll-margin-top: 100px; 
}